.containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 95vh;
    width: 100%;
    max-width: 124rem;
}

.containerListas {
    BORDER: 0.2REM solid #f00;
    height: 45vh;
    width: 100%;
}